* {
    box-sizing: border-box;
    margin: 0px;
    color: white;
    font-family: Inter,sans-serif;
   
    
}

body{
    background-color: #23252C;
    margin-top: 40px;
    margin-bottom: 40px;
}

.card{
    width: 100%;
    max-width: 300px;
    background-color: #1A1B21;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.profile-pic{
    height: 350px;
    width:100%;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 20px;
}
.job-role{
    color: #F3BF99;
    font-size: 13px;
    margin-top:4px;
    margin-bottom: 14px;
}
.website{
    font-size: 10.5px;
    color: #F5F5F5;
    margin-bottom: 12px;
}
.contact{
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.btn1,.btn2{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    padding:5px 20px;
    border-radius: 5px; 
    border-style: none;
}
.btn1 .fa-envelope{
    color: #374151;
}
.btn1>p{
    background-color: white;
    color: #374151;
    font-size: 13px;
}
.btn2{
    background-color: #5093E2;
}
.btn2 .fa-linkedin{
    color: white;
}
.btn2>p{
    color: white;
    font-size: 13px;
}
.about-box{
    padding: 0px 30px;
    text-align: left;
}
.about-title{
    margin-top: 30px;
    margin-bottom: 5px;
}
.about-box>p,.int-box>p{
    font-size: 10px;
    font-weight: 400;
    margin-bottom: 15px;
    color: #DCDCDC;
    line-height: 150%;
    
}

.int-box{
    text-align: left;
    padding: 0px 30px;
    font-size: 13px;   
    margin-bottom: 30px;
}
.int-title{
    margin-bottom: 5px;
}

.social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #161619;
    height: 64px;
    column-gap:20px;
    border-radius: 0px 0px 10px 10px;
}
.fa{
    background-color: #918E9B;
    color: #161619;
    border-radius: 5px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
